target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.iws
*.iml
*.ipr
*.swp
*.swo
*~
.DS_Store
.vscode
*.log
.env
*.properties.local
